@use "../variables/variables" as *;
@use "../mixins/mixins" as *;

.modal-general-container-store {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: 80vh;
  gap: 3rem;
  @include scrollbar;
}
