@use "../variables/variables" as *;

.section-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
  width: 100%;
  border-radius: $section-border-radius;
  background: $background-section-products;

  &.hide {
    display: none;
  }
}
