@use "../variables/variables" as *;
@use "../mixins/mixins" as *;

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  @include section-margins;
  width: 100%;
  gap: 1px;
  background: $background-container-section;
  cursor: pointer;

  &:hover {
    outline: $outline-product-in-main;
  }

  .input-section {
    padding: $section-padding;
    border-radius: $section-border-radius;
    border: none;
    cursor: text;

    &:hover {
      background: $input-hover;
    }

    &:focus {
      outline: none;
      background: $input-focus;
      box-shadow: $input-box-shadow;
    }
  }

  .input-section:nth-child(1) {
    width: 14px;
  }

  .input-section:nth-child(2) {
    width: calc(40% - 14px);
  }

  .input-section:nth-child(3) {
    width: 60%;
  }

  .external-button-main {
    @include external-buttons;
    cursor: pointer;
  }
}
@media (max-width: 1200px) {
  .section-header {
    flex-direction: column;

    .input-section:nth-child(1) {
      width: 15px;
    }
  }
}
