@use "../variables/variables" as *;
@use "../mixins/mixins" as *;

.section-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include section-margins;
  width: 99%;
  background: $background-container-section;
  cursor: pointer;

  &:hover {
    outline: $outline-section-aside-main;
  }

  .section-main-number {
    position: relative;
    @include number-section(1.5px solid #2929c9, 20%, #4c8dac);
  }

  .product-functions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .quantity-sections {
      border-radius: $section-border-radius;
      background: $background-section-products;
    }

    .input-function,
    .input-replace {
      @include section-margins;
      width: 25%;
      border: none;
      cursor: text;

      &:hover {
        background: $input-hover;
      }

      &:focus {
        outline: none;
        background: $input-focus;
        box-shadow: $input-box-shadow;
      }
    }

    .button-replace {
      @include external-buttons;
      cursor: pointer;
    }
  }
}
