@use "variables" as *;
@use "mixins" as *;

#aside {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.container-aside {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  @include container-aside-main-margins;
  width: 100%;
  height: 35.6rem;
  border: 3px solid black;
  background: $background-container;
  @include scrollbar;

  .external-button-aside {
    @include external-button-aside-main;
  }

  .section-aside {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    min-height: 3rem;
    @include section-margins;
    background: $background-container-section;
    cursor: pointer;

    &:hover {
      outline: $outline-section-aside-main;
    }
  }

  .section-aside-number {
    margin: 0.2rem;
    @include number-section(1.5px solid #2929c9, 20%, #4c8dac);
  }

  .input-section {
    width: 80%;
    border: none;
    border-radius: $section-border-radius;
    cursor: text;

    &:hover {
      background: $input-hover;
    }

    &:focus {
      outline: none;
      background: $input-focus;
      box-shadow: $input-box-shadow;
    }
  }

  .inner-button {
    @include inner-button;
    cursor: pointer;
  }
}
