@use "variables" as *;
@use "mixins" as *;

#aside {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container-sections-creation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  min-height: 20rem;
  max-height: 30rem;
  @include section-margins;
  background: $background-container;

  .btn-add-section {
    @include btn-main;
  }

  .div-setting-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 15rem;
    min-height: 2rem;
    @include section-margins;
    background: $background-container-section;
  }

  .input-name-section {
    width: 80%;
    border: none;
    border-radius: $primary-border-radius;

    &:hover {
      background: $input-hover;
    }

    &:focus {
      outline: none;
      background: $input-focus;
      box-shadow: $input-box-shadow;
    }
  }

  .btn-adding-section-main {
    @include btn-adding-sections;
  }
}
