@use "variables" as *;
@use "mixins" as *;

#main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  @include container-aside-main-margins;
  width: 100%;
  height: 35.6rem;
  background: $background-container;
  @include scrollbar;

  .section-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @include section-margins;
    width: 99%;
    background: $background-container-section;
    cursor: pointer;

    &:hover {
      outline: $outline-section-aside-main;
    }

    .section-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      @include section-margins;
      width: 100%;
      background: $background-container-section;
      cursor: pointer;

      &:hover {
        outline: $outline-product-in-main;
      }

      .input-section {
        @include section-margins;
        width: 100%;
        border: none;
        cursor: text;

        &:hover {
          background: $input-hover;
        }

        &:focus {
          outline: none;
          background: $input-focus;
          box-shadow: $input-box-shadow;
        }
      }

      .input-section:nth-child(2) {
        width: 40%;
      }

      .external-button-main {
        @include external-button-aside-main;
        cursor: pointer;
      }
    }

    .section-products {
      margin-top: 1rem;
      width: 100%;
      border-radius: $section-border-radius;
      background: $background-section-products;

      .product {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        @include section-margins;
        width: 99%;
        background: $background-container-section;
        cursor: pointer;

        &:hover {
          outline: $outline-product-in-main;
        }

        .input-product {
          @include section-margins;
          width: 100%;
          border: none;
          cursor: text;

          &:hover {
            background: $input-hover;
          }

          &:focus {
            outline: none;
            background: $input-focus;
            box-shadow: $input-box-shadow;
          }
        }

        .input-product:nth-child(2) {
          width: 30%;
        }

        .input-product:nth-child(4) {
          width: 20%;
        }

        .inner-button-product {
          @include external-button-aside-main;
          cursor: pointer;
        }
      }
    }
  }
}
