@use "variables" as *;

@mixin btn-main {
  border: none;
  border-radius: $primary-border-radius;
  background: $btn-background;

  &:hover {
    background: $btn-hover-background;
  }
}

@mixin btn-adding-sections {
  margin: $inner-btn-margin;
  padding: $inner-btn-padding;
  border: none;
  border-radius: $inner-btn-border-radius;
  background: $inner-btn-background;

  &:hover {
    background: $inner-btn-hover-background;
  }
}

@mixin section-margins {
  margin: $primary-margin;
  padding: $primary-padding;
  border-radius: $primary-border-radius;
}

@mixin main-space-section-margins {
  margin: $main-space-primary-margin;
  padding: $main-space-primary-padding;
  border-radius: $main-space-primary-border-radius;
}

@mixin main-section-created {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
