@use "variables" as *;

@mixin btn-style {
  border: none;
  border-radius: $primary-border-radius;
  background: $btn-background;

  &:hover {
    background: $btn-hover-background;
  }
}

@mixin section-margins {
  margin: $primary-margin;
  padding: $primary-padding;
  border-radius: $primary-border-radius;
}
