$primary-margin: 0.1rem;
$primary-padding: 0.1rem;
$primary-border-radius: 0.5rem;

$helper-btn-margin: 0.3rem;
$helper-btn-padding: 0.1rem;
$helper-btn-border-radius: 0.5rem;
$helper-btn-background: #90fc90;
$helper-btn-hover-background: #a5d86a;

$primary-background: #ffffff;
$background-container: #c2bcbc;
$background-container-section: #4e4c4c;

$btn-background: linear-gradient(
  90deg,
  rgba(57, 161, 51, 1) 0%,
  rgba(55, 171, 103, 1) 50%,
  rgb(100, 206, 86) 100%
);
$btn-hover-background: #10630c;

$input-hover: #d0face;
$input-focus: #f3f3f3e1;
$input-box-shadow: 0 0 0 0.2rem #72ca82;
