$main-margin: 0.5rem;
$main-padding: 0.5rem;

$main-border-radius: 0.5rem;

$main-background: #ffffff;
$background-container: #c2bcbc;
$background-container-section: #4e4c4c;
$btn-hover-background: #10630c;
