$primary-background: #000000;
$background-header-footer: #4e4c4c;
$background-container: #2e2e2e;
$background-container-section: #4e4c4c;
$background-container-section-modal: #5e5b5b;
$background-section-products: #999b99;
$background-white: #ffffff;

$container-aside-main-margin: 0;
$container-aside-main-padding-top: 8px;
$container-aside-main-border-radius: 0;

$section-margin: 4.8px;
$section-padding: 4.8px;
$section-border-radius: 8px;

$external-button-background: linear-gradient(
  90deg,
  rgba(57, 161, 51, 1) 0%,
  rgba(55, 171, 103, 1) 50%,
  rgb(100, 206, 86) 100%
);
$external-button-hover-background: #10630c;

$inner-button-margin: 4.8px;
$inner-button-padding: 1.6px;
$inner-external-button-border-none: none;
$inner-external-button-border-radius: 8px;
$inner-button-background: #90fc90;
$inner-button-hover-background: #a5d86a;

$input-hover: #d0face;
$input-focus: #f3f3f3e1;
$input-box-shadow: 0 0 0 0.2rem #72ca82;

$color-bd: 2px solid #2e2e2e;

$outline-section-aside-main: 1px solid #008000;
$outline-product-in-main: 1px solid #f3dc11;

$bg-img: #ccc;
$color-img: #666;
