@use "../variables/variables" as *;
@use "../mixins/mixins" as *;

#container-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 0.5rem;
  padding: $section-padding;
  border-radius: $section-border-radius;
  background-color: $background-section-products;
}
